# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store

# Data & Models
VAI_NVS_DATA/
VAI_NVS_DATA_ROUND2/
VAI_NVS_DATA_ROUND2.zip
output*/*
!output*/logs/
output*/logs/*
!output*/logs/*.log
submission*/
submission*.zip

# Sub-repositories
gaussian-splatting/
external/

# IDEs
.vscode/
.idea/
